<div class="container">
    <div class="row">
        
        <div class="col-md-7 video_view">
        </div>

        <div class="col-md-5 note_column">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 information_column">
        </div>
    </div>
</div>