<div="container">
  <div class="row col-xs-12 center" id="video_all">
    <% @videos.each do |video| %>
    <div id="lecture_video" class="col-xs-4 center">
      <!-- Added hover_description and video_wrap here -->
      <div class="video_wrap">
        <%= videojs_rails sources: {mp4: video.link}, height: "200", width: "300" %>
        <div class="hover_description"></div>
      </div><!-- .video_wrap -->
      <button class="watch_video"><%= link_to 'Take Notes!', video %></button>
      
      <% if current_user.permission_type == "instructor" %>
        <%= link_to '⊗', video, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div><!-- #lecture_video -->
    <% end %>
    
  </div>

  <div id="instructor_actions">
    <% if current_user.permission_type == "instructor" %>
      <div class="new_video">
        <button class="new_video_button">New Video</button>
        <div class="video_form">
          <%= render 'form' %>
        </div>
      </div>
    <% end %>
  </div>

</div>




