<div class="index-padding">
  <div class="container">
    <%= render "layouts/nav" %>
    <div class="container">
  <div id="new_video_form_wrapper">
  <h3>New Video</h3>
    <%= render 'form' %>
  </div>
</div>