@import "twitter/bootstrap";

/* navbar */

.show-nav {
  height: 6%;
  margin: 0;
  min-height: 30px;
}

.show-body {
  height: 94%;
  margin: 0;
}

.show-nav .nav-background {
  height: 6%;
  margin: 0;
  min-height: 30px;
}

.nav-background {
  height: 50px;
  width: 100%;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  margin-bottom: 60px;
}

.show-nav .navbar {
  width: 100%;
}

.show-nav .nav-new-video {
  text-align: left;
}

.show-nav .nav-logo {
  text-align: center;
  margin-left: -30px;
}

.navbar {
  top: 0;
  z-index: 9999;
  position: fixed;
  width: 75%;
}

.navbar li {
  padding: 10px;
}

.nav-new-video, .nav-sign {
  text-align: right;
}

.nav-logo {
  left: 30px;
}

nav ul {
  margin-bottom: 30px;
  position: absolute;
}

/* universal */

html {
  overflow-y: scroll;
}

/* used to be body */
.index-padding {
  margin: 0 auto;
  padding-top: 8%;
  width: 80%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height:100%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
/*  float: left;
  margin-right: 10px;*/
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
 /* padding-top: 18px;*/
/*  padding-left: 68%;*/
  font-weight: bold;
  line-height: 1;

}

#logo:hover {
  color: #26c5ff;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}