@import "twitter/bootstrap";

/* navbar */

.navbar {
  background: black;
  z-index: 9999;
  position: fixed;
}

nav ul {
  padding-top:8px;
  padding-right: 8%;
  padding-bottom:4px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  padding-top: 8%;
  width: 80%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height:100%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 18px;
  padding-left: 55%;
  font-weight: bold;
  line-height: 1;

}

#logo:hover {
  color: #26c5ff;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}