.video_view {
    background-color:green;
    height: 200px;
}

.note_column {
    background-color: red;
    height: 500px;
}

.information_column {
    position: relative;
    background-color: yellow;
    height: 300px;
}