.new_user_form {
	text-align: center;
}

.sign_in {
	padding: 30px;
}

.login_signup_buttons {
	display: inline-block;
}

#login_button {
	margin-right: 5px;
	float: left;
}

#signup_button {
	margin-left: 5px;
	float: right;
}