// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

h1, h2, p, a, form, input, button, text-area, li, ul, table {
  font-family: Helvetica;
}

input {
    border: 2px solid #eee;
}

input:active {
    border: red;
}

input:focus {
    border: 5px solid rgba(6, 155, 204, .2);
    outline: none;
}

.video_name {
    text-align: center;
}

/*#vjs_video_4 {
	width: 600px;
	height: 320px;
	text-align: center;
	margin: 0 auto;
	padding: 40px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	background-color: lightsteelgrey;
}*/

.new_note button, .render-edit-form button {
    padding: 10px 15px;
/*    background: #4479BA;*/
    color: #777;
    top: -12px;
    right: -130px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

video {
}

#timeline {
    top: 0;
    position: relative;
    width: 87%;
    height: 20px;
    background: #ccc;
}
.new_note button:hover {
 /*   background: #356094;*/
    border: solid 1px #777;
    text-decoration: none;
}

.new_note button:active {
  /*  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);*/
    background: #2E5481;
/*    border: solid 1px #203E5F;*/
}

li {
	list-style	: none;
}

.marker {
    position: absolute;
    bottom: -10px;
    width: 6px;
    height: 25px;
    background: #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #333;
}

.marker:hover {
  background: #069BCC;
  z-index: 999;
}

/* new video layout from js.fiddle*/


html, body {
    height: 100%;
}

.row .col-xs-9 {
    margin: 0;
    padding: 0;    
}

.container, .row {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.container {
  padding: -20px;  
} 

#video-container {
   position: relative;
   background: black;
   height: 100%;
   min-height: 100%;
   padding: 0;
   margin: 0;
}

#video {
    position:relative;
    background: none;
    height: 90%;
    min-height: 90%;
    min-width: 600px;
    padding-bottom: 5%;
}

#notes {
    position: relative;
    background: black;
    height: 100%;
    min-height: 100%;
/*    border-left: 1px solid #333;*/
    box-shadow: 0px 5px 5px 3px #333;
}

#playbar {
    position: absolute;
    background: black;
    height: 10%;
    min-height: 10%;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    padding: 30px;
    vertical-align: middle;
/*    border-top: 1px solid #333;*/
    box-shadow: 0px -1px 5px 3px #333;
}

#timeline {
    position: relative;
    height: 8px;
    background: #444;
    width: 87%;
/*    box-shadow: 0px -2px 3px 2px #555;*/
  /*  float: left;*/
/*    margin-left: 40px;*/
}

.one-note button, .one-note .button_to, {
    position: relative;
/*    background: #ddd;*/
    border-radius: 5px;
    font-size: .7em;
    font-family: Helvetica;
    float: right;
    margin-right: 40px;
}

.new_note button {
    position: relative;
    float: right;
    margin-bottom: 3px;
 /*   background: #999;*/
}


.controlbar-video-name {
    position: absolute;
    z-index: 9999;
    color: #555;
    padding-top: 10px;
    font-size: 2em;
}

video, .vjs_video_4_html5_api, #vjs_video_4, .video-js-box, .video-js, .vjs-tech, /*.vjs-time-controls,*/ /*.vjs-progress-control,*/ /*.vjs-progress-holder, *//*.vjs-load-progress, *//*.vjs-control, */ {
    width: 100%;
    height: 99%;
    min-width: 320px;
    min-height: 240px; 
    background-color: black;  
/*    border: 2px solid blue;*/ 
}

.vjs-control-bar {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 30px;
    bottom: -30px;
    z-index: 9999;
/*    border: 3px solid white;*/
}

#note-all {
    position: relative;
    background: #eee;
    width: 100%;
    height: 65%;
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 9999;
    box-shadow: inset 0px -3px 10px 0px #555;
}

.one-note, .note_info, .added_note {
    background: white;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
}

#new-note {
    position: relative;
    bottom: 0px;
    background: white;
    width: 100%;
    height: 30%;
    margin: 10px 0;
    padding: 5px;
    box-shadow: inset 0px -3px 10px 0px #555;
}


#new-note .actions input {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*.note-highlight {
    border: 2px solid #069BCC;
    border-shadow: 0px 0px 5px 0px;
    transition-all: all;
    transition-duration: 1s;
    background: pink; 
} */

form .field .md-editor {
    display: show;
    background: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: none;
    bottom: 0;
}

.md-editor .btn-toolbar {
    position: absolute;
    float: left;
    height: 20%;
}

.md-editor .md-input {
    position: relative;
    float: left;
    top: 60px;
    height: 100%;
    background: #eee;
    rows: 6;
}

.md-editor .btn-toolbar .btn-group button {
    position: relative;
    top: 0;
    left: 0;
    float: left;
/*    background: cornflower-blue; */
}

/* INDEX VIDEO PAGE */

/*.show-nav .col-xs-4 {
    background: pink;

}*/

.col-xs-4 .video-js-box {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 500;
}

#video_all {
    margin-bottom: 200px;
/*    margin: 0 auto;
    padding: 0;
    display: block;
    width: 90%;
    min-width: 973px;
    max-width: 1100px;
    background: pink;*/
}

.lecture_video {
    display: block; 
    margin: 0 auto;
}

.watch_video {
    margin: 20px;
}
textarea:focus {
    outline: none;
}

/*#new-note button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background: pink;
}*/

.one-note button {
    position: relative;
    display: inline-block;
    bottom: 17px;
    padding: 0;
    margin: 2px;
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 4px;
    background: #eee;
    box-shadow: none;
}

.one-note .button_to {
    position: relative;
    bottom: 20px;
    background: none;

}

.one-note .button_to .delete  {
    right: -43px;
    position: relative;
    display: inline-block;
    height: 20px;
    margin: 5px;
    width: 40px;
    bottom: 0px;
    border: none;
    border-radius: 4px;
    background: #eee
}

.play {
    right: 0px;
}

.edit {
    right: 0px;
}

#new-note input[type=submit] {
    border-radius: 4px;
    background: none;
    color: #777;
    margin: 10px;
    box-shadow: none;
    border: solid 1px #999;
    padding: 5px;
}


/* our own video shit */

.video_wrap {
    width: 300px;
    height: 200px;
    overflow: hidden; 
    margin: 0 auto;
    background: #069BCC;
    border: none;
}

.hover_description {
    position: relative;
    background-color: #069BCC;
    color: white;
    height: auto;
    width: 100%;
    z-index: 0;
    top: -245px;
    margin: 0 auto;
    
}

.hover_description > p {
    padding: 5px;
    text-align: center;
}

#video_all .col-xs-4 {
    min-width: 300px;
    margin-top: 20px;
}

input {
    text-align: center;
}

.new_video_form > input {
    margin: 0 auto;
    text-align: center;
    width: 350px;
    padding: 10px 15px;
    box-shadow: none;
}

.new_video_form .submit-button input {
  padding: 10px 15px;
  border: none;
  box-shadow: none;
  color: white;
  background: #069BCC;
  width: 350px;
}

.modal-content {
    padding: 30px;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    position: relative;
    padding: 15px;
    margin-top: 15px;
}

.modal-dialog {
    margin-top: 10%;
}

#new_video_form_wrapper {
    text-align: center;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}

#myModalLabel {
  font-size: 2em;
  font-family: 'PT Mono', cursive;
  font-weight: 900;
  color: #069BCC;
}

#new_video_form_wrapper h3 {
  font-size: 3em;
  font-family: 'PT Mono', cursive;
  font-weight: 900;
  color: #555;
  text-transform: lowercase;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
/*    background: #efefef;*/
    position:relative;
    bottom: 0;
    text-align: center;
    display: inline-block;
}

footer h3, .flatiron {
    color: #999;
    font-size: 1em;
}

footer h3 a {
    text-decoration: none;
    color: #777;
    font-weight: 600;
}

footer h3 a:hover {
    text-decoration: none;
    color: #069BCC;
}



