<footer>
  <h3> made with love  // 
    <a href="https://twitter.com/saronyitbarek">@saronyitbarek</a> 
    <a href="https://twitter.com/irmiller22">@irmiller22</a>
    <a href="https://twitter.com/SostephOh">@SostephOh</a>
     <a href="http://flatironschool.com/" target=_blank class="flatiron">//   Flatiron School</a></h3>
</footer>