<footer>
  <h3> made with love  // 
    <a href="#">@saronyitbarek</a> 
    <a href="#">@ianmiller</a>
    <a href="#">@stephanieoh</a>
     // <a href="http://flatironschool.com/" class="flatiron">Flatiron School </a> </h3>
</footer>