<footer>
  <h3> made with love  // 
    <a href="https://twitter.com/saronyitbarek">Saron Yitbarek</a> 
    <a href="https://twitter.com/irmiller22">Ian Miller</a>
    <a href="https://twitter.com/SostephOh">Stephanie Oh</a>
     <a href="http://flatironschool.com/" target=_blank class="flatiron">//   Flatiron School</a></h3>
</footer>